.fondo{
    background-color: #D9D9D9;
  }
  .sitios-imagen{
    text-align: center;
    width: 80%;
    margin: 20px;
  }
.contenedor-img{
  background-color: white;
  margin: 20 px;
  border-radius: 20px;
  text-align: center;
  width: 80%;
}
.img-car{
  width: 80%;
  border-radius: 20px;
  text-align: center;
}
.conte{
  text-align: center;
  align-items: center;
}
.btn-primary{
  font-size: 20px;
  border-radius: 15px;
  height: 120%;
  width: 20%;
}
/* Estilos para el botón circular */
.circle-button {
  width: 40px; /* Ancho del botón */
  height: 40px; /* Alto del botón */
  background-color: red; /* Color de fondo (rojo) */
  border: none; /* Sin borde */
  border-radius: 50%; /* Forma circular (50% del ancho/alto) */
  color: white; /* Color del texto (blanco) */
  font-size: 20px; /* Tamaño del texto */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  outline: none; /* Elimina el contorno predeterminado al hacer clic */
  transition: background-color 0.3s; /* Transición para el cambio de color */
}

.circle-button:hover {
  background-color: darkred; /* Cambio de color al pasar el mouse */
}
